<h2>¡Encontrá tu próximo roomate en Homie!</h2>
<p>
	Homie es un servicio simplísimo. Una vez registrado, podrás acceder a una lista de wannabe-roomies que compatibilizen con tus 
	necesidades e intereses, comunicarte con ellos a través del medio de tu elección -no vamos a forzarte a usar Homie para eso- 
	para organizar los próximos meses de cotidianeidad con él... ¡o ellos! Podés coordinar con más de una persona, para hacerlo 
	más accesible, y más divertido. No te preocupes: haremos lo mejor para que cuentes con el máximo control y confidencialidad sobre 
	los datos que compartís, asegurándonos que sólo usuarios honestos puedan servirse del servicio. ¡Mucha suerte!
</p>
