<div id="container">
	<div id="header">
		<div class="logo">HOMIE</div>
		<%= render 'login' %>
	</div>
	<div id="description">
		<%= render 'description' %>
	</div>
	<div id="registration">
		<%= render 'registration' %>
	</div>
</div>
